{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<p>{{message}}</p>
{% endfor %} {% endif %} {% endwith %}

<form action="/users/create" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" />
  <label for="email">email:</label>
  <input type="text" name="email" />
  <label for="password">password:</label>
  <input type="text" name="password" />
  <label for="confirm_password">Confirm password:</label>
  <input type="text" name="confirm_password" />
  <input type="submit" value="create User" />
</form>

<br /><br />

<form action="/login" method="post">
  <label for="email">email:</label>
  <input type="text" name="email" />
  <label for="password">password:</label>
  <input type="text" name="password" />
  <input type="submit" value="Log in" />
</form>

<p>User ID: {{session['user.id']}}</p>

<input type="submit" name="" value="logoff" />
<a href="/clear_session">log off</a>
